
.menu-options {
    margin-bottom: 1em !important;
}

.include-php4-option {
    height: 34px;
}

.choose-category-select-label {
    margin-top: 11px !important;
    width: auto !important;
}

.include-php4-option label {
    margin-top: 7px !important;
    width: auto !important;
}

.include-php4-option > div {
    float: right;
}